@media only screen and (max-width: 525px) {

    main {
        flex: 60%
    }

    .input {
        flex: 50;
    }

    .add-button {
        flex: 30%
    }

    .task-verification {
        flex: 20%;
    }

    .task-content {
        flex: 50%;
    }

    .task-del-button {
        flex: 20%;
    }
}
